html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(31, 97, 97);

    
}
.title {
    font-weight: bold;
    font-size: 2.5rem;
    font-family: Arial, sans-serif;
    display: flex;
        align-items: center;
        justify-content: center;
    background-color: rgb(0, 0, 0);
    padding: 30px 0px;
    width: 100%;
    margin-top: 0px;
    color: azure;
}
nav{

    display: flex;
    justify-content: center;
    gap: 150px;
}
.main-page-buttons{
    font-size: large;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family:monospace;
    font-size: xx-large;
    background-color: rgb(123, 120, 129);
    padding: 70px 40px;
    border-radius: 30px;
    cursor: crosshair;
    animation-duration: 2s;
        animation-name: zoomy;
        animation-timing-function: ease;
        animation-iteration-count: infinite;

    margin-top: 200px;

}

.game-buttons{
    font-size: large;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family:monospace;
    font-size: xx-large;
    background-color: rgb(123, 120, 129);
    padding: 70px 40px;
    border-radius: 30px;
    cursor: crosshair;
    animation-duration: 2s;
        animation-name: zoomy;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    margin-top: 300px;


}

.rules-buttons{
    font-size: large;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family:monospace;
    font-size: xx-large;
    background-color: rgb(123, 120, 129);
    padding: 70px 40px;
    border-radius: 30px;
    cursor: crosshair;
    animation-duration: 2s;
        animation-name: zoomy;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    margin-top: 100px;


}

nav a:hover{
    transform: scale(1.1);
        transition:1s;
    border-color: black;
    background-color: darkgreen;
    border-width: 2px;
}

.circle {
  position: absolute;
  border-radius: 50%;
}

/* Circle 1 */
.circle1 {
  width: 300px;
  height: 300px;
  background: #000000;
  top: 200px;
  left: 150px;
    animation-duration: 5s;
    animation-name: funny;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

/* Circle 2 */
.circle2 {
  width: 100px;
  height: 100px;
  background: #000000;
  bottom: 80px;
  right: 120px;
  animation-duration: 5s;
  animation-name: spin;
  animation-timing-function: ease;
animation-iteration-count: infinite;
}
@keyframes spin{
    0%{

    }

    50%{
        scale:1.3;
        height: 50px;
        transform: translateY(-300%);
        background-color: darkblue;
        opacity: .3;
        box-shadow: 0px 0px 90px rgb(166, 155, 31);
    }
    100%{
        background-color: rgb(0, 0, 0);
        border-width: 100px;
        margin-top: 50px;
    }

}
@keyframes funny{
    0%{

    }
    50%{
        box-shadow: 0px 0px 90px yellow;
        scale: 0.8;
        transform: translateY(150%);
    }
    100%{
        scale: 1;

    }
}

@keyframes zoomy {
    0%{
        box-shadow: 0px 0px 900px rgb(6, 10, 32);

    }

    25%{
        scale: 1.081;
    }
    100%{scale: 1;}
}
.text-block{
    padding: 10px 50px;
    background-color: cadetblue;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 60px;
    box-shadow: 0px 0px 90px black;
    border-radius: 30px;
}
.paragraph{
    font-size: 30px;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
#input-section{
    padding: 40px 40px;
    margin-left: 800px;
    margin-top: 100px;
    background-color: rgb(236, 243, 255);
    font-size: larger;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 90px black;
    border-radius: 20px;
}

.emoji{
    margin-left: 650px;
    margin-top: 200px;
    animation-name: laughing;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

@keyframes laughing{
    0%{}

    50%{scale:3;}

    100%{scale:1;}


}
#word {

    white-space: pre;
}

#score {
    position: fixed;      /* stays in top-left even when scrolling */
    top: 7rem;            /* responsive spacing */
    left: 1rem;

    padding: 0.8rem 1.8rem;
    font-size: clamp(0.9rem, 2vw, 1.2rem);

    background: rgb(255, 255, 255);
    color: rgb(8, 8, 8);

    border-radius: 0.6rem;
    font-weight: bold;
    font-family: Arial;
    
    box-shadow: 0px 0px 90px black;

}

#timer{
    position: fixed;   
    top: 7rem;            
    right: 1rem;

    padding: 0.8rem 1.8rem;
    font-size: clamp(0.9rem, 2vw, 1.2rem);

    background: rgb(113, 239, 244);
    color: rgb(8, 8, 8);

    border-radius: 0.6rem;
    font-weight: bold;
    font-family: Arial;
    
    box-shadow: 0px 0px 90px black;
}